    .section1_2 > div > img {
            width: -webkit-fill-available;
    }
    .contactCont {
        display: grid;
        grid-template-columns: 150px minmax(130px, 1fr) minmax(340px, 1fr);
        grid-template-columns: 150px minmax(130px, 1fr) minmax(340px, 50%);

    }
    .aboutSchoolCont {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    }
    .thirdSection > .cardCont {
        grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
        justify-content: center;
    }
    .fourthSection > .cardCont {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(463px, max-content));
    }
    .fifthSection > .cardCont {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(463px, max-content));
    }
    .footer {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(33%, max-content));
    }
    .shutterstockImg {
        top: -40px;
    }



    @media (max-width: 1850px) {
        .cityImgCont {
            grid-column: 1/-2;
        }
        .stInfoCont {
            grid-column: 1/-1;
        }
        .contBtnImg1 {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(178px, 1fr));
        }
        .img2title {
            font-size: 40px;
        }
    }
    @media (max-width: 1650px) {
        .blur3_3{
            right: 22.1%;
        }
        .imgFlower{
            right: 1.2%;
        }
        .shutterstockImg {
            right: 9%;
        }
        .lsIcon {
            right: 16.8%;
        }
    }
    @media (max-width: 1350px) {
        .cityImgCont {
            grid-column: 1/-1;
        }
        .section1_2 {
            padding: 0 30px;
        }
        .img2title {
            font-size: 50px;
        }
        .section1_2 > div:nth-child(2){
            justify-self: center;
             grid-column: 1 / -1;
        }
        .thirdSection > .cardCont {
            justify-content: center;
        }
        .footer > div:nth-child(2) {
            grid-column: 1 / -1;
        }
        .blur3_3{
            right: 5.1%;
        }
        .imgFlower{
            right: -16.2%;
        }
        .shutterstockImg {
            right: -7%;
        }
        .lsIcon {
            right: 0.8%;
        }
    }
    @media (max-width: 750px) {
        .contactCont {
            grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        }
        .contactCont > div:nth-child(3) {
            grid-column: 1/-1;
        }
        .img2title {
            font-size: 40px;
        }
        .inputCont {
            grid-column: 2 / -1;
        }
    }
    .section1_2 {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(364px, auto));
    }
    @media (max-width: 500px) {
        .img2title {
            font-size: 35px;
        }
        .contBtnImg1 {
            grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
            justify-content: start;
            justify-items: start;
            gap: 5px;
        }
        .inputCont {
            grid-column: 1 / -1;
        }
        .img1cont {
            padding: 30px 10px;
        }
        .fifthSection > .cardCont, .thirdSection > .cardCont, .fourthSection > .cardCont {

            grid-template-columns: repeat(auto-fit, minmax(332px, max-content));
        }
    }

