@import url(https://db.onlinewebfonts.com/c/9b72b5e8dafcf26afb1b22f21acf3c58?family=Cera+PRO+Medium);
@font-face {
    font-family: "Cera PRO Medium";
    src: url("https://db.onlinewebfonts.com/t/9b72b5e8dafcf26afb1b22f21acf3c58.eot");
    src: url("https://db.onlinewebfonts.com/t/9b72b5e8dafcf26afb1b22f21acf3c58.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/9b72b5e8dafcf26afb1b22f21acf3c58.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/9b72b5e8dafcf26afb1b22f21acf3c58.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/9b72b5e8dafcf26afb1b22f21acf3c58.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/9b72b5e8dafcf26afb1b22f21acf3c58.svg#Cera PRO Medium")format("svg");
}
body {
    font-family: "Cera PRO Medium";
    color: rgba(32, 38, 45, 1);
}
* {
    box-sizing: border-box;
}
.gap10 {
    gap: 10px;
}
nav {
    padding: 8px 20px;
}

.header > div {
    opacity: 70%;
 }
.header {
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    padding: 16px 236px;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
}
.flex {
    display: flex;
}
.px236 {
    padding-inline: 236px;
}
.inputCont {
    position: relative;
    flex-grow: 5;
    flex: 1 0 130px;
}
.inputCont > input {
    background-color: rgba(234, 236, 238, 1);
    padding: 14px 22px 14px 22px;
    border-radius: 10px;
    width: 100%;
    height: 48px;
    border: 0;
    color: rgba(32, 38, 45, 1);

}
.inputCont > img {
    position: absolute;
    right: 25px;
    top: 15px;
}

.cityImgCont {
  background-color: rgba(8, 122, 238, 1);
  border-radius: 15px;
}

.cityImgCont > img{
  mix-blend-mode: multiply;

  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.text-container {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  color: white;
  text-align: center;
}
.w18 {
    width: 18px;
    margin-right: 1.63px;
}

.relative {
    position: relative;
}
.fDirectionColumn {
    flex-direction: column;
}
.bgmanCont {
    width: 477px;
    height: 398px;
    position: absolute;
    top: -125px;
    right: -106px;
}
.bgmanCont > img {
    /* width: 100%; */
    height: 100%;
}
.contactCont {
    align-items: center;
    gap: 40px;
    padding: 30.5px 0;
    flex-wrap: wrap;
}
.contacts {
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.contacts > div {
    padding: 14px;
    gap: 10px;
    font-size: 14px;
    font-weight: 700;
    align-items: center;
    display: flex;

}
.mail {
    display: flex;
}

.firstSection > div:nth-child(2) {
    gap: 30px;
    flex-wrap: wrap;
}

.stInfoCont > div{
    height: 94.5px;
}
.stInfoCont > div:first-child{
    background-color: rgba(8, 122, 238, 1);
}
.stInfoCont > div:nth-child(2){
    background-color: rgba(151, 71, 255, 1);
}
.stInfoCont > div:nth-child(3){
    background-color: rgba(12, 205, 147, 1);
}
.stInfoCont > div:last-child{
    background-color: rgba(255, 227, 98, 1);
}
.stInfo {
    border-radius: 15px;
    padding: 19.75px 30px;
}

.stInfo > div:first-child {
    color: rgba(255, 255, 255, 1);
    font-size: 26px;
    font-weight: 700;
    line-height: 32.68px;
}
.stInfo > div:last-child {
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
}
.stLast > div:first-child {
    color: rgba(32, 38, 45, 1);
}
.stLast > div:last-child {
    color: rgba(32, 38, 45, 0.7);

}
.section1_2 {
    justify-content: center;
}
.section1_2 > div:nth-child(2) {
    background-color: rgba(8, 122, 238, 1);
    border-radius: 15px;
}
.section1_2 > div:nth-child(2) > img {
    border-radius: 15px;
    height: 100%;
}
/* btn active img2btn */
.btn {
    border-radius: 10px;
    background-color: rgba(255, 227, 98, 1);
    border: 0;
}
.img2btn {
    padding: 18px 20px;
    font-size: 16px;
    font-weight: 700;
}
.img2cont {
    top: 73.5%;
}
.img1cont {
    width: 100%;
    padding: 122px 87px 122px 90px;

}
.img2title {
    /* font-size: 59px; */
        /* font-size: 20px !important; */
    font-size: clamp(25px, 6vw, 50px) !important;
    font-weight: 700;
    text-align: left;
    margin-bottom: 30px;
}
.rBtn {
    padding: 12px 16px;
    gap: 6px;
    align-items: center;
}

.contBtnImg1{
    gap: 12px;
}
.ratingText {
    font-weight: 700;
    font-size: 16px;
}
.inactive {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(32, 38, 45, 0.6);
    padding: 12px 16px;
}
.section1_3 {
    padding: 80px 0;
}
h1 {
    color: rgba(32, 38, 45, 1);
    margin: 0;
    font-weight: 700;
    font-size: 45px;
}
.mb30 {
    margin-bottom: 30px;
}
.statYearsTable {
    background-color: rgba(239, 247, 255, 1);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.infoByYears {
    display: flex;
    flex: 1;
    justify-content: space-between;
    font-size: 18px;
    flex: 0 1 75%;
    justify-content: space-between;
    font-size: 18px;
}
.infoByYears > div {
    display: flex;
    gap: 33px;
    margin: 40px 0 40px 40px;
    flex-direction: column;
}
.infoByYears > div > div:last-child {
    color: rgba(32, 38, 45, 1);
    font-weight: 700;
}
.infoByYears > div > div:nth-child(2) {
    color: rgba(32, 38, 45, .4);
    font-weight: 400;
}
.withData {
    color: rgba(8, 122, 238, 1) !important;
    font-weight: 700 !important;
}
.infoByYears > div:last-child {
    margin-right: 150px;
}
.infoByYears {
    flex-wrap: nowrap;
    overflow: auto;
    width: calc(100% + 50%);
}
.infoByYears > div > div:nth-child(2) {

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.stInfoCont {
    padding: 0 0px;
    min-width: 240px;
    /* max-width: 1080px; */
    gap: 30px;
    flex: 1;
}
.secondSection > div:nth-child(2) {
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 40px;
}
.thirdSection > .cardCont {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}
.fourthSection > .cardCont, .fifthSection > .cardCont {
    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center; */
    gap: 20px;
        justify-content: center;
}


@media (max-width: 1900px) {
    .thirdSection > .cardCont {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

}
@media (max-width: 1400px) {
    .footer  {
        flex-direction: column;
        padding-bottom: 0px !important;

    }
    .footer > div:nth-child(3) {
        position: relative;
        height: 411px;
    }
    .shutterstockImg {
        bottom: 0px;
        top: initial !important;
    }
    .aboutSchoolCont {
        justify-content: center !important;
    }
    .cardCont {
        justify-content: space-evenly !important;
        gap: 30px;
    }
    .lsIcon {
        top: 0 !important;
    }
    .blur3_2{
        top: 0 !important;
        right: 20px !important;
    }
    .blur3_3{
        top: 200px !important;
        right: 50% !important;
    }


}


@media (max-width: 1200px) {
    .mb30, h1 {
        font-size: 35px;
    }
    .aboutSchoolCont {
        display: grid !important;
        grid-template-columns: repeat(3, 1fr);
    }

    #navbarNavAltMarkup {
        padding-inline: 30px;
    }
    .header, .firstSection {
        padding-inline: 0;
    }

    .secondSection {
        padding: 80px 20px !important;
    }
    .section1_2 {
        justify-content: center;
        padding-inline: 20px;
    }
    .contacts > div:nth-child(4) {
        display: none;
    }

    .img1cont {
        padding: 100px 20px 0;
    }
    .imgBlock {
        top: -180px !important;
    }
    .sec2_3 > div:nth-child(2) > img{
        width: 100%;
        height: -webkit-fill-available;
    }
    .sec2_3 > div:nth-child(2){
        width: 100%;
    }
    .thirdSection, .fourthSection, .fifthSection{
        padding: 70px 20px !important;
    }
    .cardCont {
        justify-content: center !important;
        gap: 30px;

    }

    .footer {
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: 60px 20px 0 !important;
    }
    .stInfoCont {
        padding: 0 30px;
    }

    .contactCont {
        padding-inline: 20px;
    }
    .mb30 {
        margin-left: 20px;
    }
    .section1_3 {
        overflow-x: hidden;
        overflow-y: visible;
        padding-bottom: 120px;
    }
    .btnContS {
        margin-top: 20px;
    }
    .stInfoCont {
        padding: 0 0px;
    }
}
@media (max-width: 800px) {
    .thirdSection > .cardCont {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        gap: 20px;
    }
        .aboutSchoolCont {

        grid-template-columns: repeat(2, 1fr);
    }
 }

@media (max-width: 600px) {
    .img3cont {
        margin: 44px 0 34px 15px !important;
    }
    .section1_2 {
        display: grid !important;
    }
    .aboutSchoolCont {

        grid-template-columns: repeat(1, 1fr);
    }
    .bgmanCont{
        top: -140px;
        height: 200px;
        right: -293px;
    }

    h1, .mb30 {
        font-size: 20px;
    }
    .img2title {
        font-size: 20px;
    }
    .cityImgCont {
        height: 350px;

    }
    .img1cont {
        padding: 60px 20px;
    }
    .section1_2 img {
        width: 100%;
    }
    .contBtnImg1 {
        flex-wrap: wrap;
    }
    .cardImg > img {
        width: 100%;
    }
    .thirdSection > div:nth-child(1), .fourthSection > div:nth-child(1), .fifthSection > div:nth-child(1)   {
        flex-wrap: wrap;
        gap: 10px;
    }
    .secondSection > div:nth-child(2) {
        gap: 15px;
    }
    .btnContS {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 10px;
    }
}

@media (max-width: 370px) {
    .cardTextOnImgCont > div{
        font-size: 12px !important;
    }
    .cardTextOnImgCont{
        top: unset !important;
        bottom: 2px;
    }
}
@media (max-width: 500px) {
    .thirdSection > .cardCont {
        justify-items: stretch;
    }

}